@using TapestryWorld.Web.ViewModels.Home;

@model IEnumerable<IndexTapestryViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach (var tapestry in Model)
    {
        <p>@tapestry.Name</p>
    }
</div>